# /etc/systemd/system/micro_xrce_dds_agent.service
[Unit]
Description=Micro XRCE-DDS Agent Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/swarm_software/launch
ExecStart=/snap/bin/micro-xrce-dds-agent udp4 -p 8888
Restart=on-failure
StandardOutput=append:/home/swarm_software/logs/uorb/micro_xrce_dds_agent.log
StandardError=append:/home/swarm_software/logs/uorb/micro_xrce_dds_agent_error.log

[Install]
WantedBy=multi-user.target
