# /etc/systemd/system/ros2_launch.service
[Unit]
Description=ROS2 Launch Service
After=network.target 

[Service]
Type=simple
User=root
WorkingDirectory=/home/swarm_software/launch
ExecStart=/home/swarm_software/launch/ros2_launch_wrapper.sh
Restart=no
EnvironmentFile=/etc/drone_config.conf
Environment=NUM_DRONES=1
Environment=RCUTILS_LOGGING_CONFIGURATION_FILE=/home/swarm_software/logs/logging_config.yaml
Environment="PATH=/opt/ros/humble/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
