[Unit]
Description=Service to start ros bag for movements
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/swarm_software/logs/bag
EnvironmentFile=/etc/drone_config.conf
ExecStart=/bin/bash -c "/home/swarm_software/logs/bag/init_bag.sh $DRONE_ID && source /opt/ros/humble/setup.bash && ros2 bag record -o current"
ExecStop=/bin/bash -c "/home/swarm_software/logs/bag/cleanup_bag.sh $DRONE_ID"
Restart=on-failure
RestartSec=5
StartLimitInterval=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
