__pycache__/
src/2022/logs/
.idea/
**/certs/**
.vscode
**/log
**/install
**/build
*.DS_Store
**/drone_launch/**
**/drone_launch.zip
**/gui_venv/**
**/gui_venv.zip
**/venv/**
**/venv.zip
**/venv_*
**/drone_gui.log
drone_gui/drone_gui.log
*.zip
*.bak
**env**
**/arm_install



indepth_doc.txt
*.zip