[Unit]
Description=mDNS Service Advertiser
After=network.target avahi-daemon.service

[Service]
ExecStart=/usr/bin/python3 /home/swarm_software/messaging_services/advertise/mdns_advertise.py
Restart=always
User=root
Environment="PYTHONPATH=/home/swarm_software"

WorkingDirectory=/home/swarm_software/messaging_services

[Install]
WantedBy=multi-user.target