numpy==1.26.4
zeroconf==0.136.2
ifaddr>=0.1.7
async-timeout>=3.0.0
customtkinter==5.2.2
darkdetect==0.8.0
packaging==24.2
requests==2.32.3
urllib3>=1.21.1,<3
charset-normalizer>=2,<4
certifi>=2017.4.17
idna>=2.5,<4
cryptography==41.0.4
paramiko==3.5.0
bcrypt==4.2.1
pynacl==1.5.0
Pillow==10.0.1
platformdirs==3.10.0
zmq
matplotlib==3.10.1
